$font-baloo : "Baloo Thambi 2" , cursive;
$font-raleway : "Raleway" , cursive;
$font-rubik : "Rubik" , cursive;
$color-primary: #003859;
$color-second : #00A5C4;
$color-yellow: #FFD289; 
$color-header:linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
